
body{
    background-image: url(1.jpeg);
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box div {
    width: 100px;
    height: 100px;
  }
      
  
h1{
    font-family:sans-serif;
color: #0548c6;
    text-align: center;
}